{% extends "pms/layout.html" %}
{% load static %}
{% block body %}
    <h1>All New Patient</h1>
    {% comment %} <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Patient Card</h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div> {% endcomment %}
      <div class="card-body">
        <h5 class="card-title">Patient Details Card</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{patient.fullname}}</h6>
        <p class="card-text">{{patient.hedescrpt}}</p>
        <p class="card-text">{{patient.history}}</p>
        <p class="card-text">{{patient.diagnosis}}</p>
        <p class="card-text">{{patient.reason}}</p>
        <p class="card-text">{{patient.time}}</p>
         {% comment %} <a href="#" class="card-link">Card link</a> {% endcomment %}
        <a href="#" class="card-link">Edit</a> 
      </div>
{% endblock %}