{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}HPMS{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'pms/styles.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'pms/app.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navsec">
            <ul>
                <li><a href="#news">All Patients</a></li>
                <li><a  href="{% url 'add' %}">Add new patient</a></li>
                <li><a href="#contact">Messages</a></li>
                <li><a href="#contact">Appointments</a></li>
                <li style="float:right"><a href="{% url 'index' %}" class="active">PMS</a></li>
              </ul>
              
        </nav>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>